@font-face {
  font-family: "dogic";
  src: local("dogic"), url(../src/fonts/dogicapixel.woff) format("woff");
}

:root {
  --background-color: #000;
  --main-text-color: #fff;
  --game-text-color: #0ba00d;
  --game-font: dogic;
}

p {
  font-family: var(--game-font);
}

html,
body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 16px;
  color: var(--game-text-color);
}
